@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yfn54k');
  src:  url('fonts/icomoon.eot?yfn54k#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yfn54k') format('truetype'),
    url('fonts/icomoon.woff?yfn54k') format('woff'),
    url('fonts/icomoon.svg?yfn54k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-01:before {
  content: "\e913";
  color: #4b286d;
}
.icon-02:before {
  content: "\e914";
  color: #4b286d;
}
.icon-03:before {
  content: "\e915";
  color: #4b286d;
}
.icon-04:before {
  content: "\e916";
  color: #4b286d;
}
.icon-05:before {
  content: "\e917";
  color: #4b286d;
}
.icon-06:before {
  content: "\e918";
  color: #4b286d;
}
.icon-07:before {
  content: "\e919";
  color: #4b286d;
}
.icon-08:before {
  content: "\e91a";
  color: #4b286d;
}
.icon-09:before {
  content: "\e91b";
  color: #4b286d;
}
.icon-10:before {
  content: "\e91c";
  color: #4b286d;
}
.icon-11:before {
  content: "\e91d";
  color: #4b286d;
}
.icon-12:before {
  content: "\e91e";
  color: #4b286d;
}
.icon-13:before {
  content: "\e91f";
  color: #4b286d;
}
.icon-14:before {
  content: "\e920";
  color: #4b286d;
}
.icon-15:before {
  content: "\e921";
  color: #4b286d;
}
.icon-16:before {
  content: "\e922";
  color: #4b286d;
}
.icon-17:before {
  content: "\e923";
  color: #4b286d;
}
.icon-18:before {
  content: "\e924";
  color: #4b286d;
}
.icon-19:before {
  content: "\e925";
  color: #4b286d;
}
.icon-20:before {
  content: "\e926";
  color: #4b286d;
}
.icon-21:before {
  content: "\e927";
  color: #4b286d;
}
.icon-22:before {
  content: "\e928";
  color: #4b286d;
}
.icon-23:before {
  content: "\e929";
  color: #4b286d;
}
.icon-24:before {
  content: "\e92a";
  color: #4b286d;
}
.icon-25:before {
  content: "\e92b";
  color: #4b286d;
}
.icon-26:before {
  content: "\e92c";
  color: #4b286d;
}
.icon-27:before {
  content: "\e92d";
  color: #4b286d;
}
.icon-28:before {
  content: "\e92e";
  color: #4b286d;
}
.icon-29:before {
  content: "\e92f";
  color: #4b286d;
}
.icon-30:before {
  content: "\e930";
  color: #4b286d;
}
.icon-31:before {
  content: "\e931";
  color: #4b286d;
}
.icon-32:before {
  content: "\e932";
  color: #4b286d;
}
.icon-33:before {
  content: "\e933";
  color: #4b286d;
}
.icon-34:before {
  content: "\e934";
  color: #4b286d;
}
.icon-35:before {
  content: "\e935";
  color: #4b286d;
}
.icon-36:before {
  content: "\e936";
  color: #4b286d;
}
.icon-37:before {
  content: "\e937";
  color: #4b286d;
}
.icon-38:before {
  content: "\e938";
  color: #4b286d;
}
.icon-39:before {
  content: "\e939";
  color: #4b286d;
}
.icon-40:before {
  content: "\e93a";
  color: #4b286d;
}
.icon-41:before {
  content: "\e93b";
  color: #4b286d;
}
.icon-42:before {
  content: "\e93c";
  color: #4b286d;
}
.icon-43:before {
  content: "\e93d";
  color: #4b286d;
}
.icon-44:before {
  content: "\e93e";
  color: #4b286d;
}
.icon-45:before {
  content: "\e93f";
  color: #4b286d;
}
.icon-46:before {
  content: "\e940";
  color: #4b286d;
}
.icon-47:before {
  content: "\e941";
  color: #4b286d;
}
.icon-48:before {
  content: "\e942";
  color: #4b286d;
}
.icon-49:before {
  content: "\e943";
  color: #4b286d;
}
.icon-50:before {
  content: "\e944";
  color: #4b286d;
}
.icon-51:before {
  content: "\e945";
  color: #4b286d;
}
.icon-52:before {
  content: "\e946";
  color: #4b286d;
}
.icon-53:before {
  content: "\e947";
  color: #4b286d;
}
.icon-54:before {
  content: "\e948";
  color: #4b286d;
}
.icon-55:before {
  content: "\e949";
  color: #4b286d;
}
.icon-56:before {
  content: "\e94a";
  color: #4b286d;
}
.icon-57:before {
  content: "\e94b";
  color: #4b286d;
}
.icon-58:before {
  content: "\e94c";
  color: #4b286d;
}
.icon-59:before {
  content: "\e94d";
  color: #4b286d;
}
.icon-60:before {
  content: "\e94e";
  color: #4b286d;
}
.icon-61:before {
  content: "\e94f";
  color: #4b286d;
}
.icon-62:before {
  content: "\e950";
  color: #4b286d;
}
.icon-63:before {
  content: "\e951";
  color: #4b286d;
}
.icon-64:before {
  content: "\e952";
  color: #4b286d;
}
.icon-65:before {
  content: "\e953";
  color: #4b286d;
}
.icon-66:before {
  content: "\e954";
  color: #4b286d;
}
.icon-67:before {
  content: "\e955";
  color: #4b286d;
}
.icon-68:before {
  content: "\e956";
  color: #4b286d;
}
.icon-69:before {
  content: "\e957";
  color: #4b286d;
}
.icon-70:before {
  content: "\e958";
  color: #4b286d;
}
.icon-71:before {
  content: "\e959";
  color: #4b286d;
}
.icon-72:before {
  content: "\e95a";
  color: #4b286d;
}
.icon-73:before {
  content: "\e95b";
  color: #4b286d;
}
.icon-74:before {
  content: "\e95c";
  color: #4b286d;
}
.icon-75:before {
  content: "\e95d";
  color: #4b286d;
}
.icon-76:before {
  content: "\e95e";
  color: #4b286d;
}
.icon-77:before {
  content: "\e95f";
  color: #4b286d;
}
.icon-78:before {
  content: "\e960";
  color: #4b286d;
}
.icon-79:before {
  content: "\e961";
  color: #4b286d;
}
.icon-80:before {
  content: "\e962";
  color: #4b286d;
}
.icon-81:before {
  content: "\e963";
  color: #4b286d;
}
.icon-82:before {
  content: "\e964";
  color: #4b286d;
}
.icon-83:before {
  content: "\e965";
  color: #4b286d;
}
.icon-84:before {
  content: "\e966";
  color: #4b286d;
}
.icon-85:before {
  content: "\e967";
  color: #4b286d;
}
.icon-86:before {
  content: "\e968";
  color: #4b286d;
}
.icon-87:before {
  content: "\e969";
  color: #4b286d;
}
.icon-88:before {
  content: "\e96a";
  color: #4b286d;
}
.icon-89:before {
  content: "\e96b";
  color: #4b286d;
}
.icon-90:before {
  content: "\e96c";
  color: #4b286d;
}
.icon-91:before {
  content: "\e96d";
  color: #4b286d;
}
.icon-92:before {
  content: "\e96e";
  color: #4b286d;
}
.icon-93:before {
  content: "\e96f";
  color: #4b286d;
}
.icon-94:before {
  content: "\e970";
  color: #4b286d;
}
.icon-95:before {
  content: "\e971";
  color: #4b286d;
}
.icon-96:before {
  content: "\e972";
  color: #4b286d;
}
.icon-97:before {
  content: "\e973";
  color: #4b286d;
}
.icon-98:before {
  content: "\e974";
  color: #4b286d;
}
.icon-99:before {
  content: "\e975";
  color: #4b286d;
}
.icon-100:before {
  content: "\e976";
  color: #4b286d;
}
.icon-101:before {
  content: "\e977";
  color: #4b286d;
}
.icon-102:before {
  content: "\e978";
  color: #4b286d;
}
.icon-103:before {
  content: "\e979";
  color: #4b286d;
}
.icon-104:before {
  content: "\e97a";
  color: #4b286d;
}
.icon-105:before {
  content: "\e97b";
  color: #4b286d;
}
.icon-106:before {
  content: "\e97c";
  color: #4b286d;
}
.icon-107:before {
  content: "\e97d";
  color: #4b286d;
}
.icon-108:before {
  content: "\e97e";
  color: #4b286d;
}
.icon-109:before {
  content: "\e97f";
  color: #4b286d;
}
.icon-110:before {
  content: "\e980";
  color: #4b286d;
}
.icon-111:before {
  content: "\e981";
  color: #4b286d;
}
.icon-112:before {
  content: "\e982";
  color: #4b286d;
}
.icon-113:before {
  content: "\e983";
  color: #4b286d;
}
.icon-114:before {
  content: "\e984";
  color: #4b286d;
}
.icon-115:before {
  content: "\e985";
  color: #4b286d;
}
.icon-116:before {
  content: "\e986";
  color: #4b286d;
}
.icon-117:before {
  content: "\e987";
  color: #4b286d;
}
.icon-118:before {
  content: "\e988";
  color: #4b286d;
}
.icon-119:before {
  content: "\e989";
  color: #4b286d;
}
.icon-120:before {
  content: "\e98a";
  color: #4b286d;
}
.icon-121:before {
  content: "\e98b";
  color: #4b286d;
}
.icon-122:before {
  content: "\e98c";
  color: #4b286d;
}
.icon-123:before {
  content: "\e98d";
  color: #4b286d;
}
.icon-124:before {
  content: "\e98e";
  color: #4b286d;
}
.icon-125:before {
  content: "\e98f";
  color: #4b286d;
}
.icon-126:before {
  content: "\e990";
  color: #4b286d;
}
.icon-127:before {
  content: "\e991";
  color: #4b286d;
}
.icon-128:before {
  content: "\e992";
  color: #4b286d;
}
.icon-129:before {
  content: "\e993";
  color: #4b286d;
}
.icon-130:before {
  content: "\e994";
  color: #4b286d;
}
.icon-131:before {
  content: "\e995";
  color: #4b286d;
}
.icon-132:before {
  content: "\e996";
  color: #4b286d;
}
.icon-133:before {
  content: "\e997";
  color: #4b286d;
}
.icon-134:before {
  content: "\e998";
  color: #4b286d;
}
.icon-135:before {
  content: "\e999";
  color: #4b286d;
}
.icon-136:before {
  content: "\e99a";
  color: #4b286d;
}
.icon-137:before {
  content: "\e99b";
  color: #4b286d;
}
.icon-138:before {
  content: "\e99c";
  color: #4b286d;
}
.icon-139:before {
  content: "\e99d";
  color: #4b286d;
}
.icon-140:before {
  content: "\e99e";
  color: #4b286d;
}
.icon-141:before {
  content: "\e99f";
  color: #4b286d;
}
.icon-142:before {
  content: "\e9a0";
  color: #4b286d;
}
.icon-143:before {
  content: "\e9a1";
  color: #4b286d;
}
.icon-144:before {
  content: "\e9a2";
  color: #4b286d;
}
.icon-145:before {
  content: "\e9a3";
  color: #4b286d;
}
.icon-146:before {
  content: "\e9a4";
  color: #4b286d;
}
.icon-147:before {
  content: "\e9a5";
  color: #4b286d;
}
.icon-148:before {
  content: "\e9a6";
  color: #4b286d;
}
.icon-149:before {
  content: "\e9a7";
  color: #4b286d;
}
.icon-150:before {
  content: "\e9a8";
  color: #4b286d;
}
.icon-151:before {
  content: "\e9a9";
  color: #4b286d;
}
.icon-152:before {
  content: "\e9aa";
  color: #4b286d;
}
.icon-153:before {
  content: "\e9ab";
  color: #4b286d;
}
.icon-154:before {
  content: "\e9ac";
  color: #4b286d;
}
.icon-155:before {
  content: "\e9ad";
  color: #4b286d;
}
.icon-156:before {
  content: "\e9ae";
  color: #4b286d;
}
.icon-157:before {
  content: "\e9af";
  color: #4b286d;
}
.icon-158:before {
  content: "\e9b0";
  color: #4b286d;
}
.icon-159:before {
  content: "\e9b1";
  color: #4b286d;
}
.icon-160:before {
  content: "\e9b2";
  color: #4b286d;
}
.icon-161:before {
  content: "\e9b3";
  color: #4b286d;
}
.icon-162:before {
  content: "\e9b4";
  color: #4b286d;
}
.icon-163:before {
  content: "\e9b5";
  color: #4b286d;
}
.icon-164:before {
  content: "\e9b6";
  color: #4b286d;
}
.icon-165:before {
  content: "\e9b7";
  color: #4b286d;
}
.icon-166:before {
  content: "\e9b8";
  color: #4b286d;
}
.icon-167:before {
  content: "\e9b9";
  color: #4b286d;
}
.icon-168:before {
  content: "\e9ba";
  color: #4b286d;
}
.icon-169:before {
  content: "\e9bb";
  color: #4b286d;
}
.icon-170:before {
  content: "\e9bc";
  color: #4b286d;
}
.icon-171:before {
  content: "\e9bd";
  color: #4b286d;
}
.icon-172:before {
  content: "\e9be";
  color: #4b286d;
}
.icon-173:before {
  content: "\e9bf";
  color: #4b286d;
}
.icon-174:before {
  content: "\e9c0";
  color: #4b286d;
}
.icon-175:before {
  content: "\e9c1";
  color: #4b286d;
}
.icon-176:before {
  content: "\e9c2";
  color: #4b286d;
}
.icon-177:before {
  content: "\e9c3";
  color: #4b286d;
}
.icon-178:before {
  content: "\e9c4";
  color: #4b286d;
}
.icon-179:before {
  content: "\e9c5";
  color: #4b286d;
}
.icon-180:before {
  content: "\e9c6";
  color: #4b286d;
}
.icon-181:before {
  content: "\e9c7";
  color: #4b286d;
}
.icon-182:before {
  content: "\e9c8";
  color: #4b286d;
}
.icon-183:before {
  content: "\e9c9";
  color: #4b286d;
}
.icon-184:before {
  content: "\e9ca";
  color: #4b286d;
}
.icon-185:before {
  content: "\e9cb";
  color: #4b286d;
}
.icon-186:before {
  content: "\e9cc";
  color: #4b286d;
}
.icon-187:before {
  content: "\e9cd";
  color: #4b286d;
}
.icon-188:before {
  content: "\e9ce";
  color: #4b286d;
}
.icon-189:before {
  content: "\e9cf";
  color: #4b286d;
}
.icon-190:before {
  content: "\e9d0";
  color: #4b286d;
}
.icon-191:before {
  content: "\e9d1";
  color: #4b286d;
}
.icon-192:before {
  content: "\e9d2";
  color: #4b286d;
}
.icon-193:before {
  content: "\e9d3";
  color: #4b286d;
}
.icon-194:before {
  content: "\e9d4";
  color: #4b286d;
}
.icon-195:before {
  content: "\e9d5";
  color: #4b286d;
}
.icon-196:before {
  content: "\e9d6";
  color: #4b286d;
}
.icon-197:before {
  content: "\e9d7";
  color: #4b286d;
}
.icon-198:before {
  content: "\e9d8";
  color: #4b286d;
}
.icon-199:before {
  content: "\e9d9";
  color: #4b286d;
}
.icon-200:before {
  content: "\e9da";
  color: #4b286d;
}
.icon-201:before {
  content: "\e9db";
  color: #4b286d;
}
.icon-202:before {
  content: "\e9dc";
  color: #4b286d;
}
.icon-203:before {
  content: "\e9dd";
  color: #4b286d;
}
.icon-204:before {
  content: "\e9de";
  color: #4b286d;
}
.icon-205:before {
  content: "\e9df";
  color: #4b286d;
}
.icon-206:before {
  content: "\e9e0";
  color: #4b286d;
}
.icon-207:before {
  content: "\e9e1";
  color: #4b286d;
}
.icon-208:before {
  content: "\e9e2";
  color: #4b286d;
}
.icon-209:before {
  content: "\e9e3";
  color: #4b286d;
}
.icon-210:before {
  content: "\e9e4";
  color: #4b286d;
}
.icon-211:before {
  content: "\e9e5";
  color: #4b286d;
}
.icon-212:before {
  content: "\e9e6";
  color: #4b286d;
}
.icon-213:before {
  content: "\e9e7";
  color: #4b286d;
}
.icon-214:before {
  content: "\e9e8";
  color: #4b286d;
}
.icon-215:before {
  content: "\e9e9";
  color: #4b286d;
}
.icon-216:before {
  content: "\e9ea";
  color: #4b286d;
}
.icon-217:before {
  content: "\e9eb";
  color: #4b286d;
}
.icon-218:before {
  content: "\e9ec";
  color: #4b286d;
}
.icon-219:before {
  content: "\e9ed";
  color: #4b286d;
}
.icon-220:before {
  content: "\e9ee";
  color: #4b286d;
}
.icon-221:before {
  content: "\e9ef";
  color: #4b286d;
}
.icon-222:before {
  content: "\e9f0";
  color: #4b286d;
}
.icon-223:before {
  content: "\e9f1";
  color: #4b286d;
}
.icon-224:before {
  content: "\e9f2";
  color: #4b286d;
}
.icon-225:before {
  content: "\e9f3";
  color: #4b286d;
}
.icon-226:before {
  content: "\e9f4";
  color: #4b286d;
}
.icon-227:before {
  content: "\e9f5";
  color: #4b286d;
}
.icon-228:before {
  content: "\e9f6";
  color: #4b286d;
}
.icon-229:before {
  content: "\e9f7";
  color: #4b286d;
}
.icon-230:before {
  content: "\e9f8";
  color: #4b286d;
}
.icon-231:before {
  content: "\e9f9";
  color: #4b286d;
}
.icon-232:before {
  content: "\e9fa";
  color: #4b286d;
}
.icon-233:before {
  content: "\e9fb";
  color: #4b286d;
}
.icon-234:before {
  content: "\e9fc";
  color: #4b286d;
}
.icon-235:before {
  content: "\e9fd";
  color: #4b286d;
}
.icon-236:before {
  content: "\e9fe";
  color: #4b286d;
}
.icon-237:before {
  content: "\e9ff";
  color: #4b286d;
}
.icon-238:before {
  content: "\ea00";
  color: #4b286d;
}
.icon-239:before {
  content: "\ea01";
  color: #4b286d;
}
.icon-240:before {
  content: "\ea02";
  color: #4b286d;
}
.icon-241:before {
  content: "\ea03";
  color: #4b286d;
}
.icon-242:before {
  content: "\ea04";
  color: #4b286d;
}
.icon-243:before {
  content: "\ea05";
  color: #4b286d;
}
.icon-244:before {
  content: "\ea06";
  color: #4b286d;
}
.icon-245:before {
  content: "\ea07";
  color: #4b286d;
}
.icon-246:before {
  content: "\ea08";
  color: #4b286d;
}
.icon-247:before {
  content: "\ea09";
  color: #4b286d;
}
.icon-248:before {
  content: "\ea0a";
  color: #4b286d;
}
.icon-249:before {
  content: "\ea0b";
  color: #4b286d;
}
.icon-250:before {
  content: "\ea0c";
  color: #4b286d;
}
.icon-251:before {
  content: "\ea0d";
  color: #4b286d;
}
.icon-252:before {
  content: "\ea0e";
  color: #4b286d;
}
.icon-253:before {
  content: "\ea0f";
  color: #4b286d;
}
.icon-254:before {
  content: "\ea10";
  color: #4b286d;
}
.icon-255:before {
  content: "\ea11";
  color: #4b286d;
}
.icon-256:before {
  content: "\ea12";
  color: #4b286d;
}
.icon-257:before {
  content: "\ea13";
  color: #4b286d;
}
.icon-258:before {
  content: "\ea14";
  color: #4b286d;
}
.icon-259:before {
  content: "\ea15";
  color: #4b286d;
}
.icon-260:before {
  content: "\ea16";
  color: #4b286d;
}
.icon-261:before {
  content: "\ea17";
  color: #4b286d;
}
.icon-262:before {
  content: "\ea18";
  color: #4b286d;
}
.icon-263:before {
  content: "\ea19";
  color: #4b286d;
}
.icon-264:before {
  content: "\ea1a";
  color: #4b286d;
}
.icon-265:before {
  content: "\ea1b";
  color: #4b286d;
}
.icon-266:before {
  content: "\ea1c";
  color: #4b286d;
}
.icon-267:before {
  content: "\ea1d";
  color: #4b286d;
}
.icon-268:before {
  content: "\ea1e";
  color: #4b286d;
}
.icon-269:before {
  content: "\ea1f";
  color: #4b286d;
}
.icon-270:before {
  content: "\ea20";
  color: #4b286d;
}
.icon-271:before {
  content: "\ea21";
  color: #4b286d;
}
.icon-272:before {
  content: "\ea22";
  color: #4b286d;
}
.icon-273:before {
  content: "\ea23";
  color: #4b286d;
}
.icon-274:before {
  content: "\ea24";
  color: #4b286d;
}
.icon-275:before {
  content: "\ea25";
  color: #4b286d;
}
.icon-276:before {
  content: "\ea26";
  color: #4b286d;
}
.icon-277:before {
  content: "\ea27";
  color: #4b286d;
}
.icon-278:before {
  content: "\ea28";
  color: #4b286d;
}
.icon-279:before {
  content: "\ea29";
  color: #4b286d;
}
.icon-280:before {
  content: "\ea2a";
  color: #4b286d;
}
.icon-281:before {
  content: "\ea2b";
  color: #4b286d;
}
.icon-282:before {
  content: "\ea2c";
  color: #4b286d;
}
.icon-283:before {
  content: "\ea2d";
  color: #4b286d;
}
.icon-284:before {
  content: "\ea2e";
  color: #4b286d;
}
.icon-285:before {
  content: "\ea2f";
  color: #4b286d;
}
.icon-286:before {
  content: "\ea30";
  color: #4b286d;
}
.icon-287:before {
  content: "\ea31";
  color: #4b286d;
}
.icon-288:before {
  content: "\ea32";
  color: #4b286d;
}
.icon-289:before {
  content: "\ea33";
  color: #4b286d;
}
.icon-290:before {
  content: "\ea34";
  color: #4b286d;
}
.icon-291:before {
  content: "\ea35";
  color: #4b286d;
}
.icon-292:before {
  content: "\ea36";
  color: #4b286d;
}
.icon-293:before {
  content: "\ea37";
  color: #4b286d;
}
.icon-294:before {
  content: "\ea38";
  color: #4b286d;
}
.icon-295:before {
  content: "\ea39";
  color: #4b286d;
}
.icon-296:before {
  content: "\ea3a";
  color: #4b286d;
}
.icon-297:before {
  content: "\ea3b";
  color: #4b286d;
}
.icon-298:before {
  content: "\ea3c";
  color: #4b286d;
}
.icon-299:before {
  content: "\ea3d";
  color: #4b286d;
}
.icon-300:before {
  content: "\ea3e";
  color: #4b286d;
}
.icon-301:before {
  content: "\ea3f";
  color: #4b286d;
}
.icon-302:before {
  content: "\ea40";
  color: #4b286d;
}
.icon-303:before {
  content: "\ea41";
  color: #4b286d;
}
.icon-304:before {
  content: "\ea42";
  color: #4b286d;
}
.icon-305:before {
  content: "\ea43";
  color: #4b286d;
}
.icon-306:before {
  content: "\ea44";
  color: #4b286d;
}
.icon-307:before {
  content: "\ea45";
  color: #4b286d;
}
.icon-308:before {
  content: "\ea46";
  color: #4b286d;
}
.icon-309:before {
  content: "\ea47";
  color: #4b286d;
}
.icon-310:before {
  content: "\ea48";
  color: #4b286d;
}
.icon-311:before {
  content: "\ea49";
  color: #4b286d;
}
.icon-312:before {
  content: "\ea4a";
  color: #4b286d;
}
.icon-313:before {
  content: "\e900";
  color: #4b286d;
}
.icon-314:before {
  content: "\e901";
  color: #4b286d;
}
.icon-315:before {
  content: "\e902";
  color: #4b286d;
}
.icon-316:before {
  content: "\e903";
  color: #4b286d;
}
.icon-317:before {
  content: "\e904";
  color: #4b286d;
}
.icon-318:before {
  content: "\e905";
  color: #4b286d;
}
.icon-319:before {
  content: "\e906";
  color: #4b286d;
}
.icon-320:before {
  content: "\e907";
  color: #4b286d;
}
.icon-321:before {
  content: "\e908";
  color: #4b286d;
}
.icon-322:before {
  content: "\e909";
  color: #4b286d;
}
.icon-323:before {
  content: "\e90a";
  color: #4b286d;
}
.icon-324:before {
  content: "\e90b";
  color: #4b286d;
}
.icon-325:before {
  content: "\e90c";
  color: #4b286d;
}
.icon-326:before {
  content: "\e90d";
  color: #4b286d;
}
.icon-327:before {
  content: "\e90e";
  color: #4b286d;
}
.icon-328:before {
  content: "\e90f";
  color: #4b286d;
}
.icon-329:before {
  content: "\e910";
  color: #4b286d;
}
.icon-330:before {
  content: "\e911";
  color: #4b286d;
}
.icon-331:before {
  content: "\e912";
  color: #4b286d;
}
.icon-332:before {
  content: "\ea4b";
  color: #361051;
}
.icon-333:before {
  content: "\ea4d";
  color: #361051;
}
.icon-334:before {
  content: "\ea4c";
  color: #361051;
}
